{# @var word \App\Localingo\Domain\Word #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-auto">
                <div class="card bg-light" style="width: 20rem;">
                    <div class="card-header">
                        <div class="row align-items-start">
                            <div class="col">
                                {{ word.declination }}
                            </div>
                            <div class="col text-end">
                                {{ word.number }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ word.translation }}</p>
                        <h5 class="card-title">{{ word.declined }}</h5>
                        <h6 class="card-subtitle text-muted">{{ word.word }}</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ word.gender }}</li>
                        <li class="list-group-item">{{ word.state|default('&nbsp;')|raw }}</li>
                        <li class="list-group-item">{{ word.case|default('&nbsp;')|raw }}</li>
                        <li class="list-group-item">
                            <div class="input-group my-3">
                                <input type="text" class="form-control" placeholder="Recipient's username"
                                       aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Check
                                </button>
                            </div>
                        </li>
                    </ul>
                    <div class="card-footer">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
